@model BatchAndDocumentViewModel

@section PageStyles
{

}

@section PageScripts
{
    <script type="text/javascript">
        var batchstep = @ViewBag.step;
             var imageextension = '@(ViewBag.imageextension)';
    </script>
    <script type="text/javascript" src="~/EDMS/js/@(ViewBag.scripts).js"></script>
}

<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <form method="post" id="filterIndexation">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Criteria</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Batch number:</label>
                                <input type="text" class="form-control" name="batchnumber" id="batchnumber" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Document number:</label>
                                <input type="text" class="form-control" name="documentnumber" id="documentnumber" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Start date:</label>
                                <input type="date" class="form-control" name="firstdate" id="firstdate" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Last date:</label>
                                <input type="date" class="form-control" id="lastdate" id="lastdate" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label></label>
                                <button type="submit" class="btn btn-primary btn-block"
                                style="margin-top: 4px;min-width: max-content;">Search</button>

                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </form>

    </div>

</div>
<!-- Main content -->

<div class="row">
    <div class="col-md-12">

        <div class="box">

            <div class="box-body">

                <div>
                    <div class="form-inline">

                        @switch (Convert.ToInt32(ViewBag.step))
                        {
                            case 13:
                                @if (Model.ElemBoutton.Any(b => b.Id == 7))
                                {
                                    <button type="submit" style="margin-bottom:6px" class="fa fa-check btn btn-success documentallmarkcomplete" id="modaldocumentcompletedall" disabled style="" title="Mark all document campleted"> Mark all document completed</button>
                                }
                                break;

                            case 8:
                                @if (Model.ElemBoutton.Any(b => b.Id == 8))
                                {
                                    <button type="submit" style="margin-bottom:6px" class="fa fa-check btn btn-success" id="modalacceptall" disabled style="" title="Validate all documents accepted"> Save all accepted</button>
                                }
                                @if (Model.ElemBoutton.Any(b => b.Id == 9))
                                {
                                    <button type="submit" style="margin-bottom:6px" class="fa fa-close btn btn-danger" id="modalrejectall" style="" disabled title="Rescan all documents rejected"> Send all rejected to rescan</button>
                                }
                                break;
                            default:
                                break;
                        }

                        <input type="text" class="form-control" placeholder="Search...." id="searchalldocs" style="position: relative;float: right;" />

                    </div>
                   

                </div>

                <table id="table_document_review_modif_search"
                    class="table table-bordered table-responsive nowrap w-100" style="width:100% !important">
                    <thead>
                        <tr>
                            @* <th>Batch Number</th> *@
                            <th>Document Number</th>
                            <th>Number of Sheets</th>
                            <th>Scanned On</th>
                            <th>Last step</th>
                            <th>Last step on</th>
                            @* @foreach (var item in Model.DocumentIndexAll)
                            {
                                <th>@item.Name</th>
                            } *@
                            <th>Status</th>
                            <th>File Type</th>
                            <th style='text-align:center ; max-width:100px'>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>

            </div>

            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>
<!-- /.row -->

<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="textModalLabel">More</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="word-wrap: break-word;" id="fullText"></p>
                <p style="word-wrap: break-word;" id="fullText1"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="Showdocumentindex" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="padding-left: 0px !important;overflow: auto;">
</div>



<div id="SaveAllDocModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="padding-left: 0px !important">

    <div class="modal-dialog modal-lg" role="document" style="width: 40%;">
        <div class="modal-content bigModalIndex">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content -->

                <center> <strong>Are you sure you want to validate all document ?</strong></center>


                <div class="modal-footer">

                    <br />
                    <button type="button" id="savealldocument"" class=" btn btn-success" title="Save">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>

    </div>

</div>


     <div id="deletethispage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="padding-left: 0px !important">

        <div class="modal-dialog modal-md" role="document" style="">
            <div class="modal-content bigModalIndex">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Content -->
                     <center> <strong>Are you sure you want to delete this page ?  </strong></center>   

                     <div class="modal-footer">

                                <br />
                                <button type="button" id="deletepages""  class="btn btn-success"  title="Save" >Yes</button>
                                <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                     </div>
                </div>

            </div>

        </div>

    </div>


<div id="RejectionModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="padding-left: 0px !important">
    <div class="modal-dialog modal-md" role="document" style="top: 5%;">
        <div class="modal-content bigModalIndex">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="info"><label type="text" />Choose the reason of rescan documents</p>
            </div>
            <div class="modal-body">
                <!-- Content -->
                <div class="row">
                    <div class="col-md-12">
                        <label>Reason</label>
                        <select class="form-control input-md" required="required" id="rejectiocode">
                            @foreach (var reject in Model.RejectionCodeAll)
                            {
                                <option value="@reject.Id">@reject.Name</option>
                            }
                        </select>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">

                            <label>Other reason ( Optional )</label>
                            <textarea row="4" class="form-control" id="otherreason"></textarea>
                        </div>
                        </select>
                    </div>


                </div>
                <div class="modal-footer">

                    <br />
                    <button type="button" data-SendForRescan="atat" class="btn btn-success" title="Save">Yes</button>
                    <button type="button" id="SendForPoliceReview" class="btn btn-danger" title="Save"
                        data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>

    </div>
</div>


 @await Html.PartialAsync("DatchOrDocmakecompleted")